.idea
db.sqlite3
manage.py
*.pyc
__pycache__
secrets.json
logs
.env
.venv
__init__.py
.DS_Store
/static/*
!/static/tw/
!/static/tw/**
!/static/.gitkeep

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind build cache (있다면)
.tailwindcss/

# OS
.DS_Store