{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<form id="searchForm" method="get" action="{% url 'common:user_list' %}">
{% csrf_token %}
<div class="container my-3">
    <div class="row my-3">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <div class="col-2">
            <select class="form-select" name="work" id="work">
                <option value="전체" {% if search_work == '전체' %} selected {% endif %}>전체(재직여부)</option>
                <option value="재직자" {% if search_work == '재직자' %} selected {% endif %}>재직자</option>
                <option value="퇴사자" {% if search_work == '퇴사자' %} selected {% endif %}>퇴사자</option>
            </select>
        </div>
        <div class="col-2">
            <select class="form-select" name="dept" id="dept">
                <option value="전체" {% if search_dept == '전체' %} selected {% endif %}>전체(부서)</option>
                {% for dept in dept_list %}
                <option value="{{dept}}" {% if search_dept == dept %} selected {% endif %}>{{dept}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <select class="form-select" name="position" id="position">
                <option value="전체" {% if search_position == '전체' %} selected {% endif %}>전체(직위)</option>
                {% for position in position_list %}
                <option value="{{position}}" {% if search_position == position %} selected {% endif %}>{{position}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6 text-end">
            <a href="{% url 'common:signup' %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                  <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                </svg>
                직원 등록
            </a>
        </div>
    </div>
    </form>
    <div style="height: 1000px; width: 100%; overflow: auto;">
    <table class="table" style="position: relative;">
        <thead>
        <tr class="text-center table-dark">
            <th class="table-primary sticky-head-1" colspan="6">기본정보</th>
            <th class="table-secondary sticky-head-1 " colspan="12">근로계약</th>
        </tr>
        <tr class="text-center">
            <th class="table-primary sticky-head-2">번호</th>
            <th class="table-primary sticky-head-2">성명</th>
            <th class="table-primary sticky-head-2">소속</th>
            <th class="table-primary sticky-head-2">직위</th>
            <th class="table-primary sticky-head-2">입사일</th>
            <th class="table-primary sticky-head-2">퇴사일</th>
            <th class="table-secondary sticky-head-2">기준일</th>
            <th class="table-secondary sticky-head-2">근무형태</th>
            <th class="table-secondary sticky-head-2">근태확인</th>
            <th class="table-secondary sticky-head-2">월</th>
            <th class="table-secondary sticky-head-2">화</th>
            <th class="table-secondary sticky-head-2">수</th>
            <th class="table-secondary sticky-head-2">목</th>
            <th class="table-secondary sticky-head-2">금</th>
            <th class="table-secondary sticky-head-2">토</th>
            <th class="table-secondary sticky-head-2">일</th>
        </tr>
        </thead>
        <tbody>
        {% if user_list %}
        {% for user in user_list %}
        <tr class="text-center">
            <td>
                {{ forloop.counter }}
            </td>
            <td class="text-center">
                <a href="{% url 'common:user_modify' user.id %}">{{ user.emp_name }}</a>
            </td>
            <td>{{ user.dept }}</td>
            <td>{{ user.position }}</td>
            <td>{{ user.join_date|date:'Y-m-d' }}</td>
            <td>{{ user.out_date|date:'Y-m-d' }}</td>
            <td><a href="{% url 'wtm:work_contract_modify' user.cid %}">{{ user.stand_date|date:'Y-m-d' }}</td>
            <td>{{ user.type|default_if_none:'' }}</td>
            <td>{{ user.check_yn|default_if_none:'' }}</td>

            {% for key, value in day_of_the_week.items %}
            <td align="center">
                <!-- user.key로 사용할 수 없기 때문에, index 값을 가져오는 filter를 활용해서 key에 맞는 값을 세팅 -->
                {% with user|get_index:key as module_id %}
                    {% for module in module_list %}
                    {% if module.id == module_id %}
                    <div class="module_box" style="background-color: {{ module_colors|get_index:module.color }};">
                        {% if module.cat == 'OFF' %}
                            -
                        {% else %}
                            {{ module.start_time }}
                            {{ module.end_time }}
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endwith %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="18">직원이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if user_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ user_list.previous_page_number }}"
               href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% for page_number in user_list.paginator.page_range %}
        {% if page_number >= user_list.number|add:-5 and page_number <= user_list.number|add:5 %}
        {% if page_number == user_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}"
               href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}"
               href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if user_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ user_list.next_page_number }}"
               href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
const page_elements = document.getElementsByClassName("page-link")
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});

const selectedWork = document.getElementById("work");
selectedWork.addEventListener('change', function() {
    document.getElementById('searchForm').submit();
});

const selectedDept = document.getElementById("dept");
selectedDept.addEventListener('change', function() {
    document.getElementById('searchForm').submit();
});

const selectedPosition = document.getElementById("position");
selectedPosition.addEventListener('change', function() {
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}