{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light border-bottom
    {% if env_label == 'DEV' %}bg-warning border-warning
    {% elif env_label == 'LOCAL' %}bg-info border-info
    {% else %}bg-light{% endif %}">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'wtm:index' %}"><img src="{% static 'logo.png' %}" width="108" height="40"></a>
        {% if env_label != 'PROD' %}
          <span class="badge text-bg-dark ms-2 align-self-center">{{ env_label }}</span>
        {% endif %}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'index' %}ci{% endif %}" href="{% url 'wtm:index' %}">TODAY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'work_schedule' %}ci{% endif %}" href="{% url 'wtm:work_schedule' %}">근무표</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {% if url_name == 'log' or url_name == 'status' %}ci{% endif %}" href="#" id="DropdownLog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    근태기록
                  </a>
                  <div class="dropdown-menu" aria-labelledby="DropdownLog">
                    <a class="dropdown-item" href="{% url 'wtm:work_log' %}">일별상세</a>
                    <a class="dropdown-item" href="{% url 'wtm:work_status' %}">월간집계</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {% if url_name == 'meal_status' or url_name == 'meal_status' %}ci{% endif %}" href="#" id="DropdownMeal" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    식대관리
                  </a>
                  <div class="dropdown-menu" aria-labelledby="DropdownMeal">
                    <a class="dropdown-item" href="{% url 'wtm:work_meal_status' %}">일별상세</a>
                    <a class="dropdown-item" href="{% url 'wtm:work_meal_status' %}">월간집계</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'user_list' %}ci{% endif %}" href="{% url 'common:user_list' %}">직원관리</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {% if url_name == 'dept' or url_name == 'position' or url_name == 'work_module' or url_name == 'holiday' or url_name == 'business' or url_name == 'code' %}ci{% endif %}" href="#" id="DropdownSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    설정
                  </a>
                  <div class="dropdown-menu" aria-labelledby="DropdownSettings">
                    <a class="dropdown-item" href="{% url 'common:dept' %}">부서관리</a>
                    <a class="dropdown-item" href="{% url 'common:position' %}">직위관리</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'wtm:work_module' %}">근로모듈</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'common:holiday' %}">공휴일관리</a>
                    <a class="dropdown-item" href="{% url 'common:business' %}">영업일관리</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'common:code' %}">코드관리</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'pybo_index' %}ci{% endif %}" href="{% url 'pybo:pybo_index' %}">공지사항</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <form id="logout-form" method="post"
                              action="{% url 'common:logout' %}"
                              style="display:none;">
                            {% csrf_token %}
                        </form>

                        <a class="nav-link"
                           href="#"
                           onclick="
                             event.preventDefault();
                             if (confirm('정말 로그아웃하시겠습니까?')) {
                               document.getElementById('logout-form').submit();
                             }
                           ">
                            로그아웃({{ user.emp_name }})
                        </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
            </ul>
            {% endwith %}
        </div>
    </div>
</nav>