{% load static %}
{% load pybo_filter %}
<!doctype html>
<html lang="ko">
<head>
    <!-- required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- etc CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <title>근무표 수정</title>
</head>
<body style="padding-top: 0px;">
<form id="form" method="post">
{% csrf_token %}
<input type="hidden" name="user_id" value="{{target_user.id}}">
<input type="hidden" name="stand_date" value="{{stand_date}}">
<input type="hidden" name="module_id" value="{{old_module_id}}">
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <ul class="m-0"><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}

    <h4 class="my-3 border-bottom pb-2">근무표 수정</h4>
        <div class="mb-3 col-md-6">
            <div class="alert alert-warning" role="alert">
                {{target_user.position}} {{target_user.emp_name}} ({{target_user.dept}}), {{stdt|date:'Y-m-d(D)'}}
            </div>
        </div>

<table class="text-center table-borderless my-4">
    <tr>
        {% for module in module_list %}
        <th style="vertical-align: bottom; width: 50px; font-weight: normal;">
        <input type="radio" class="invisible-radio" name="module" id="{{module.id}}" value="{{module.id}}"
            {% if module.id == old_module_id|to_int %} checked {% endif %}>
        <label class="form-label" for="{{module.id}}">
            <div class="module_box" style="background-color: {{ module_colors|get_index:module.color }};">
                {% if module.cat == '휴일근무' %}
                <font color="blue">
                    {{ module.start_time }}
                    {{ module.end_time }}
                </font>
                {% elif module.cat == '유급휴무' %}
                {{ module.name|slice:"0:2" }}<br>
                {{ module.name|slice:"2:4" }}
                {% elif module.cat == '무급휴무' %}
                <font color="red">
                {{ module.name|slice:"0:2" }}<br>
                {{ module.name|slice:"2:4" }}
                </font>
                {% elif module.cat == 'OFF' %}
                -
                {% else %}
                {{ module.start_time }}
                {{ module.end_time }}
                {% endif %}
            </div>
        </label>
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for module in module_list %}
        <th style="width: 50px; font-weight: normal; font-size: 10px">
            {{ module.name }}
        </th>
        {% endfor %}
    </tr>
</table>
    <button type="button" class="modify btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
          <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
        </svg>
        수정하기
    </button>
    <button type="button" class="cancel btn btn-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
          <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z"/>
        </svg>
        취소하기
    </button>
</div>
</form>
<script type="text/javascript">
const modify_elements = document.getElementsByClassName("modify");
const cancel_elements = document.getElementsByClassName("cancel");
Array.from(modify_elements).forEach(function(element) {
  element.addEventListener('click', function() {
    const oldModuleId = document.querySelector("input[type='hidden'][name='module_id']").value;
    const moduleIdSelected = document.querySelector("input[type='radio'][name='module']:checked").value;

    if(oldModuleId == moduleIdSelected) {
      alert("변경사항이 없습니다.");
    } else if(confirm("수정하시겠습니까?")) {
      document.querySelector("input[type='hidden'][name='module_id']").value = moduleIdSelected;
      document.getElementById('form').submit();
    };
  });
});

Array.from(cancel_elements).forEach(function(element) {
  element.addEventListener('click', function() {
    window.close();
  });
});
</script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>