{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="page-header">
        <h4 class="page-title">근로모듈 관리</h4>
    </div>

    <form method="post">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="mb-3 col-md-4">
            <label class="form-label" for="cat">구분</label>
            <select class="form-select" name="cat" id="cat" onchange="selectCategory()">
                {% for cat in categories %}
                <option value="{{cat}}" {% if form.cat.value == cat %}selected{% endif %}>{{cat}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 col-md-4">
            <label class="form-label" for="name">근로명</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 row g-2">
            <div class="col-md-2">
                <label class="form-label" for="start_time">근로시간(시업)</label>
                <!-- 많은 시행착오 끝에, 시간 컬럼은 CharField로 하기로 했음.
                 <input type='time'>이면 브라우저 설정을 따르기 때문에 24시간제로 하기 어렵고,
                 시간 list를 미리 만들고 <select>로 하면 DB의 TimeField를 불러올때 '오전', '오후' 값이 포함되어서 비교가 힘듬-->
                <select class="form-select" name="start_time" id="start_time">
                    <option></option>
                    {% for time in times %}
                    <option value="{{time}}" {% if form.start_time.value == time %} selected {% endif %}>{{time}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="end_time">근로시간(종업)</label>
                <select class="form-select" name="end_time" id="end_time">
                    <option></option>
                    {% for time in times %}
                    <option value="{{time}}" {% if form.end_time.value == time %} selected {% endif %}>{{time}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row g-2">
            <div class="col-md-2">
                <label class="form-label" for="rest1_start_time">휴게시간1(시작)</label>
                <select class="form-select" name="rest1_start_time" id="rest1_start_time">
                    <option></option>
                    {% for time in times %}
                    <option value="{{time}}" {% if form.rest1_start_time.value == time %} selected {% endif %}>{{time}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="rest1_end_time">휴게시간1(종료)</label>
                <select class="form-select" name="rest1_end_time" id="rest1_end_time">
                    <option></option>
                    {% for time in times %}
                    <option value="{{time}}" {% if form.rest1_end_time.value == time %} selected {% endif %}>{{time}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row g-2">
            <div class="col-md-2">
                <label class="form-label" for="rest2_start_time">휴게시간2(시작)</label>
                <select class="form-select" name="rest2_start_time" id="rest2_start_time">
                    <option></option>
                    {% for time in times %}
                    <option value="{{time}}" {% if form.rest2_start_time.value == time %} selected {% endif %}>{{time}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="rest2_end_time">휴게시간2(종료)</label>
                <select class="form-select" name="rest2_end_time" id="rest2_end_time">
                    <option></option>
                    {% for time in times %}
                    <option value="{{time}}" {% if form.rest2_end_time.value == time %} selected {% endif %}>{{time}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">색상</label>
            <div class="flex-container">
                {% for key, color in module_colors.items %}
                <!-- 등록 화면에서 form 오류 발생시 기존에 했던 색상 체크가 없어지는 현상이 발생
                    1. key|slugify 로 했을때도 form오류에는 대처가 되긴 했으나,
                     수정 화면에서는 db에서 불러온 값은 int인데, key를 string 강제 변환하니 역시나 체크가 안되는 현상이 생겼음
                    2. form.color.value는 string으로 넘어오고, key는 int이기 때문에 비교가 안되는것 같음
                    pybo_filter.py 에 to_int tag를 추가하고, form.color.value|to_int와 같이 변환해주니 성공 -->
                <input type="radio" name="color" id="color{{key}}" class="invisible-radio" value="{{key}}"
                {% if form.color.value|to_int == key %} checked {% endif %}>
                <label for="color{{key}}">
                <div class="styled-radio" style="background: {{color}}"></div>
                </label>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2-fill" viewBox="0 0 16 16">
              <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/>
            </svg>
            저장하기
        </button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
function selectCategory() {
    // 구분(category)의 값을 가져옴
    const selVal = document.querySelector("select#cat option:checked").value;

    // 구분(category)에 따라 달라지는 DOM객체를 const로 세팅
    const name = document.querySelector("input#name");
    const start_time = document.querySelector("select#start_time");
    const end_time = document.querySelector("select#end_time");
    const rest1_start_time = document.querySelector("select#rest1_start_time");
    const rest1_end_time = document.querySelector("select#rest1_end_time");
    const rest2_start_time = document.querySelector("select#rest2_start_time");
    const rest2_end_time = document.querySelector("select#rest2_end_time");

    // 소스코드를 간결하게 하기 위해, DOM객체를 배열에 세팅
    let itemList = new Array();
    itemList = [name, start_time, end_time, rest1_start_time, rest1_end_time, rest2_start_time, rest2_end_time];

    // color11(흰색)을 별도로 세팅하고,
    // name=color인 DOM객체를 colors에 저장하여 유급휴무/OFF/휴일근로시 특정 색상으로 고정하기 위해 활용
    const color11 = document.querySelector("input#color11");
    const colors = document.querySelectorAll("input[name='color']");


    if (selVal == '소정근로') {
        // 모든 DOM객체(i=0부터 시작)를 Editable하게 초기화
        for (let i=0; i < itemList.length; i++) {
            itemList[i].value = '';
            itemList[i].style.cssText = 'background-color: #ff; pointer-events: auto;';
        }

        color11.checked = false;
        for (const color of colors) {
            color.onclick = function() { };
        }
    } else if (selVal == '휴일근로') {
        // 모든 DOM객체(i=0부터 시작)를 Editable하게 초기화
        for (let i=0; i < itemList.length; i++) {
            itemList[i].value = '';
            itemList[i].style.cssText = 'background-color: #ff; pointer-events: auto;';
        }

        color11.checked = true;
        for (const color of colors) {
            if (!color.checked) color.onclick = function() { return(false) };
        }
    } else if (selVal == '유급휴무') {
        // 근로명을 제외한 DOM객체(i=1부터 시작)를 Edit가 불가능하게 세팅하고, 색상은 color11(흰색)으로 고정한다.
        for (let i=1; i < itemList.length; i++) {
            itemList[i].value = '-';
            itemList[i].style.cssText = 'background-color: #ddd; pointer-events: none;';
        }

        itemList[0].value = '';
        itemList[0].style.cssText = 'background-color: #ff; pointer-events: auto;';

        color11.checked = true;
        for (const color of colors) {
            if (!color.checked) color.onclick = function() { return(false) };
        }
    } else if (selVal == '무급휴무') {
        // 근로명을 제외한 DOM객체(i=1부터 시작)를 Edit가 불가능하게 세팅하고, 색상은 color11(흰색)으로 고정한다.
        for (let i=1; i < itemList.length; i++) {
            itemList[i].value = '-';
            itemList[i].style.cssText = 'background-color: #ddd; pointer-events: none;';
        }

        itemList[0].value = '';
        itemList[0].style.cssText = 'background-color: #ff; pointer-events: auto;';

        color11.checked = true;
        for (const color of colors) {
            if (!color.checked) color.onclick = function() { return(false) };
        }
    } else if (selVal == 'OFF') {
        // 근로명은 'OFF'로, 그 외 DOM객체(i=1부터 시작)를 Edit가 불가능하게 세팅하고, 색상은 color11(흰색)으로 고정한다.
        for (let i=0; i < itemList.length; i++) {
            itemList[i].value = '-';
            itemList[i].style.cssText = 'background-color: #ddd; pointer-events: none;';
        }

        itemList[0].value = 'OFF';

        color11.checked = true;
        for (const color of colors) {
            if (!color.checked) color.onclick = function() { return(false) };
        }
    }
}
</script>
{% endblock %}