{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">

    <div class="page-header">
        <h4 class="page-title">근로계약 관리</h4>
    </div>

    <div class="mb-3 col-md-4">
        <div class="alert alert-warning small mb-0" role="alert">
<!--                <h5 class="alert-heading">근로계약 대상</h5>-->
            {{target_user.position}} {{target_user.emp_name}} ({{target_user.dept}})
        </div>
    </div>
    <form method="post" class="small">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="mb-3 col-md-4">
            <label class="form-label" for="stand_date">기준일자</label>
            <input type="date" class="form-control form-control-sm" name="stand_date" id="stand_date" max="9999-12-31"
                   value="{{ form.stand_date.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 col-md-4">
            <label class="form-label" for="type1">근로형태</label><br>
            <input type="radio" class="btn-check" name="type" id="type1" value="탄력"
                   {% if form.type.value == "탄력" %} checked {% endif %}">
            <label class="btn btn-outline-info btn-sm" for="type1">탄력</label>
            <input type="radio" class="btn-check" name="type" id="type2" value="고정"
                   {% if form.type.value == "고정" %} checked {% endif %}">
            <label class="btn btn-outline-danger btn-sm" for="type2">고정</label>
        </div>
        <div class="mb-3 col-md-4">
            <label class="form-label" for="check_yn1">근태확인</label><br>
            <input type="radio" class="btn-check" name="check_yn" id="check_yn1" value="Y"
                   {% if form.check_yn.value == "Y" %} checked {% endif %}">
            <label class="btn btn-outline-info btn-sm" for="check_yn1">적용</label>
            <input type="radio" class="btn-check" name="check_yn" id="check_yn2" value="N"
                   {% if form.check_yn.value == "N" %} checked {% endif %}">
            <label class="btn btn-outline-danger btn-sm" for="check_yn2">제외</label>
        </div>
        <div class="mb-3">
            <label class="form-label">근로요일 입력</label>
            <br>
            <div class="contract-workday-wrapper">
                {# ①선택 #}
                <div class="contract-workday-section">
                    <table class="text-center mb-0">
                        <tr>
                            <td rowspan="2" style="width: 80px; text-align: left;">①선택</td>
                            {% for module in module_list %}
                            {% if module.cat == '소정근로' or module.cat == 'OFF' %}
                            <td style="width: 60px;">
                                <input type="radio" class="invisible-radio"
                                       name="module" id="{{ module.id }}" value="{{ module.id }}">
                                <label class="form-label" for="{{ module.id }}">
                                    <div class="module_box"
                                         id="select{{ module.id }}"
                                         style="background-color: {{ module_colors|get_index:module.color }};">
                                        {% if module.cat == 'OFF' %}
                                            -
                                        {% else %}
                                            {{ module.start_time }}<br>
                                            {{ module.end_time }}
                                        {% endif %}
                                    </div>
                                </label>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr style="font-size: 10px">
                            {% for module in module_list %}
                            {% if module.cat == '소정근로' or module.cat == 'OFF' %}
                            <td>{{ module.name }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>

                {# ②입력 #}
                <div class="contract-workday-section">
                    <table class="text-center mb-0">
                        <tr>
                            <td rowspan="2" style="width: 80px; text-align: left;">②입력</td>
                            {% for key, value in day_of_the_week.items %}
                            <td style="width: 50px;">
                                {% with form|get_index:key as day %}
                                <input type="hidden" class="form-control"
                                       name="{{ key }}" id="{{ key }}"
                                       value="{{ day.value|default_if_none:'' }}">
                                <div class="module_box"
                                     id="insert_{{ key }}"
                                     onclick="insert('{{ key }}')"
                                     style="cursor: pointer;
                                         {% for module in module_list %}
                                         {% if module.id == day.value|add:"0" %}
                                         background-color: {{ module_colors|get_index:module.color }};
                                         {% endif %}
                                         {% endfor %}">
                                    {% for module in module_list %}
                                    {% if module.id == day.value|add:"0" %}
                                        {% if module.cat == 'OFF' %}
                                            -<br>&nbsp;
                                        {% else %}
                                            {{ module.start_time }}<br>
                                            {{ module.end_time }}
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endwith %}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="font-size: 10px">
                            {% for key, value in day_of_the_week.items %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
              <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
              <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
            </svg>
            저장하기
        </button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
function insert(target) {
    // target은 요일 값임 ex) mon, tue, wed, thu, fri, sat, sun 중 하나

    try {
        // ①선택 근로요일의 module.id를 가져온다.
        const moduleIdSelected = document.querySelector("input[type='radio'][name='module']:checked").value;

        // ①선택 모듈박스를 가져온다.
        const moduleBoxSelected = document.getElementById("select"+moduleIdSelected);

        // ②입력 모듈박스를 가져와서, 내용 및 색상을 모듈박스의 것으로 세팅한다.
        const moduleBoxInsert = document.getElementById("insert_"+target);
        moduleBoxInsert.innerHTML = moduleBoxSelected.innerHTML;
        moduleBoxInsert.style.backgroundColor = moduleBoxSelected.style.backgroundColor;

        // DB에 모듈을 저장하기 위해 해당 요일의 form element의 값을 세팅한다.
        const day_of_the_week = document.getElementById(target);
        day_of_the_week.value = moduleIdSelected;
    } catch (e) {
        alert("①선택 에서 근로모듈을 먼저 선택하세요.");
        return;
    }
};

document.addEventListener('keydown', function(event) {
    function getIndex(o) {
      for (x = 0; x < o.length; x++)
        if (o[x].checked)
          return x;
    }

    var e = event.keyCode
    const module = document.getElementsByName('module');
    const len = module.length;
    const moduleSelectedIndex = getIndex(module);

    // 1~9 숫자키를 누를 경우. 참고로 기본적으로 좌우방향키로 radio버튼 선택이 가능하기 때문에 방향키에 대해서는 별도 구현하지 않았음
    if(e >= 49 && e <= 57) {
        if(len >= e-48) {
            module[e-49].checked = true;
        }
    } else if(e == 48) {        // 0 숫자키
        if(len >= 10) {
            module[9].checked = true;
        }
    } else if(e == 189) {       // - 키
        if(len >= 11) {
            module[10].checked = true;
        }
    } else if(e == 189) {       // = 키
        if(len >= 12) {
            module[11].checked = true;
        }
    }
});
</script>
{% endblock %}