{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a href="{% url 'wtm:work_module_reg' %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                </svg>
                근무모듈 등록
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>번호</th>
            <th>표시</th>
            <th>구분</th>
            <th>근무명</th>
            <th>시업</th>
            <th>종업</th>
            <th>휴게시간1</th>
            <th>휴게시간2</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if work_module %}
        {% for module in work_module %}
        <tr class="text-center">
            <td>
                {{ forloop.counter }}
            </td>
            <td align="center">
                <div class="module_box" style="background-color: {{ module_colors|get_index:module.color }};">
                    {% if module.cat == '휴일근무' %}
                    <font color="blue">
                        {{ module.start_time }}
                        {{ module.end_time }}
                    </font>
                    {% elif module.cat == '유급휴무' %}
                        {{ module.name|slice:"0:2" }}
                        {{ module.name|slice:"2:4" }}
                    {% elif module.cat == 'OFF' %}
                        -
                    {% else %}
                        {{ module.start_time }}
                        {{ module.end_time }}
                    {% endif %}
                </div>
            </td>
            <td>{{ module.cat }}</td>
            <td>
                <a href="{% url 'wtm:work_module_modify' module.id %}">{{ module.name }}</a>
            </td>
            <td>{{ module.start_time }}</td>
            <td>{{ module.end_time }}</td>
            <td>
                {% if module.rest1_start_time %}
                {{module.rest1_start_time}}~{{module.rest1_end_time}}
                {% endif %}
            </td>
            <td>
                {% if module.rest2_start_time %}
                {{module.rest2_start_time}}~{{module.rest2_end_time}}
                {% endif %}
            </td>
            <td>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-danger"
                   data-uri="{% url 'wtm:work_module_delete' module.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    삭제
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7" class="text-center">근태모듈이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}