{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <ul class="m-0"><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}

    <div>
    <table class="table text-center table-borderless table-sm sticky-top">
        <thead>
        <tr>
            <th colspan="100%">
            <div class="row my-3 text-start">
                <div class="col-10 fs-3">
                    <a href="{% url 'wtm:work_log' stand_day|get_day:-1 %}">
                        <button type="button" class="btn-hover">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left text-dark" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                        </button></a>
                    <a href="{% url 'wtm:work_log' stand_day|get_day:1 %}">
                        <button type="button" class="btn-hover">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right text-dark" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                        </button></a>
                    <input type="text" readonly class="uniTodayDate" onkeydown="return false" onfocus="this.showPicker()"
                        value="{{stand_day|slice:'0:4'}}-{{stand_day|slice:'4:6'}}-{{stand_day|slice:'6:8'}} ({{days}})"/>
                    <span class="nativeDatePicker">
                        <input type="date" class="uniTodayDatePicker" id="selectDay" name="selectDay" onkeydown="return false" onfocus="this.showPicker()"/>
                    </span>
                </div>
            </div>
            </th>
        </tr>
        <tr class="table-dark">
            <th>번호</th>
            <th>구분</th>
            <th>시간</th>
            <th>부서</th>
            <th>직위</th>
            <th>성명</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if log_list %}
        {% for log in log_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ log.get_work_code_display }}</td>
            <td>{{ log.record_date|date:'H:i:s' }}</td>
            <td>{{ log.user.dept }}</td>
            <td>{{ log.user.position }}</td>
            <td>{{ log.user.emp_name }}</td>
            <td>
                <a href="javascript:void(0)" class="modify btn btn-sm btn-primary"
                   data-uri="{% url 'wtm:work_log_modify' log.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                     <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    수정
                </a>
            </td>
            <td>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-danger"
                   data-uri="{% url 'wtm:work_log_delete' log.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    삭제
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="100%">근무로그가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
const modify_elements = document.getElementsByClassName("modify");
Array.from(modify_elements).forEach(function(element) {
  element.addEventListener('click', function() {
    const oldModuleId = document.querySelector("input[type='hidden'][name='module_id']");
    const moduleIdSelected = document.querySelector("input[type='radio'][name='module']:checked");

    if (moduleIdSelected === null) {
      alert("모듈 선택 후 수정하기 버튼을 누르세요.");
    } else if(oldModuleId.value == moduleIdSelected.value) {
      alert("변경사항이 없습니다.");
    } else if(confirm("수정하시겠습니까?")) {
      document.querySelector("input[type='hidden'][name='module_id']").value = moduleIdSelected.value;
      document.getElementById('form').submit();
    };
  });
});

const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

const selectDay = document.getElementById("selectDay");
selectDay.addEventListener('change', function() {
    // g: 전역검색, i: 대소문자 구분안함
    target = selectDay.value.replace(/-/gi, '');
    location.href = target;
});
</script>
{% endblock %}