{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <form id="form" method="get">
    {% csrf_token %}
    <div class="row my-3 align-items-center text-bg-dark">
        <div class="col-10 text-bg-dark text-center" style="font-color: red;">
            <a href="{% url 'wtm:work_schedule' stand_ym|get_month:-1 %}" style="color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg></a> &nbsp;&nbsp;
                {{ stand_ym|slice:"0:4" }}년 {{ stand_ym|slice:"4:6" }}월
                &nbsp;&nbsp;
            <a href="{% url 'wtm:work_schedule' stand_ym|get_month:1 %}" style="color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg></a>
        </div>
        <div class="col-2 text-bg-dark text-end">
            {% if schedule_list %}
            <a href="javascript:void(0)" class="delete btn btn-danger"
                   data-uri="{% url 'wtm:work_schedule_delete' stand_ym %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
                삭제
            </a>
            <a href="{% url 'wtm:work_schedule_modify' stand_ym %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                수정
            </a>
            {% else %}
            <a href="{% url 'wtm:work_schedule_reg' stand_ym %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                신규
            </a>
            {% endif %}
        </div>
    </div>
    </form>

    <div class="div-sticky-h">
    <table class="table text-center table-borderless table-sm sticky-top">
        {% if schedule_list %}
        {% now "Ym" as yearmonth %}
        {% now "j" as today %}
        <thead>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            {% for key, value in day_list.items %}
            <th>
                {% if value == '일' %}
                <font color="red">
                {{ key }}
                </font>
                {% elif yearmonth == stand_ym and key == today %}
                <div class="roundtext">{{ key }}</div>
                {% else %}
                {{ key }}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% for key, value in day_list.items %}
            <th>
                {% if value == '일' %}
                <font color="red">
                {{ value }}
                </font>
                {% elif yearmonth == stand_ym and key == today %}
                <div class="roundtext">{{ value }}</div>
                {% else %}
                {{ value }}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for schedule in schedule_list %}

        {% if schedule.dept_diff == 'Y' %}
        <tr style="border-bottom: 1px solid #d3d3d3;">
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        {% endif %}
        <tr>
            <td class="align-middle">{{ schedule.dept }}</td>
            <td class="align-middle">{{ schedule.emp_name }}</td>
            {% for key, value in day_list.items %}
            <td {% if yearmonth == stand_ym and key == today %}class="is-hover"{% endif %}>
                {% with schedule|get_day_index:key as day %}
                {% if stand_ym|concat_date:key < schedule.join_date or schedule.out_date < stand_ym|concat_date:key %}
                <div class="module_box-disabled"></div>
                {% else %}
                <div class="module_box"
                    {% for module in module_list %}
                    {% if module.id == day %}
                    style="background-color: {{ module_colors|get_index:module.color }};"
                    {% endif %}
                    {% endfor %}>
                    {% for module in module_list %}
                    {% if module.id == day %}
                        {% if module.cat == '휴일근무' %}
                        <font color="blue">
                            {{ module.start_time }}
                            {{ module.end_time }}
                        </font>
                        {% elif module.cat == '유급휴무' %}
                        {{ module.name|slice:"0:2" }}
                        {{ module.name|slice:"2:4" }}
                        {% elif module.cat == 'OFF' %}
                        -<br>
                        &nbsp;
                        {% else %}
                        {{ module.start_time }}
                        {{ module.end_time }}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <tr>
            <td colspan="5" class="text-center">근무표가 없습니다.</td>
        </tr>
        {% endif %}
    </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}