{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        {% now "o n" %}월
    </div>
    <table class="table text-center">
        <thead>
        {% if day_list %}
        <tr>
            <td></td>
            {% for key, value in day_list.items %}
            <td>
                {% if value == '일' %}
                <font color="red">
                {{ key }}
                </font>
                {% else %}
                {{ key }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            {% for key, value in day_list.items %}
            <td>
                {% if value == '일' %}
                <font color="red">
                {{ value }}
                </font>
                {% else %}
                {{ value }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="5" class="text-center">근태기록이 없습니다.</td>
        </tr>
        {% endif %}
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<form id="searchForm" method="get" action="{% url 'wtm:work_list' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
</script>
{% endblock %}